<div class = "d-flex">

    <div class = "container">
        <div class = "row p-3">
            <div class = "col">
                <h5>Buscar equipo:</h5>
                <input type="text" class = "form-control" placeholder="Buscar...">
                <button mat-button (click) = "buscarEquipo()">Buscar</button>
            </div>
        </div>
        <hr>
        <div class = "row p-3">
            <div class = "col">
                Aqui va la paginacion de los equipos
            </div>
        </div>
    </div>
</div>

