<mat-toolbar color="accent">
    <span>
        <a routerLink="" mat-button>
            <fa-icon [icon]="faUserSlash"></fa-icon>Cerrar Sesión
        </a>
    </span>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faHouse"></fa-icon>Inicio
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faDashboard"></fa-icon>Dashboard
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faComputer"></fa-icon>Producto
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faCompra"></fa-icon>Compras
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faPedido"></fa-icon>Pedidos
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faReportes"></fa-icon>Reportes
        </a>
    </div>
    <div>
        <a mat-button routerLink="inicio">
            <fa-icon [icon]="faConfiguracion"></fa-icon>Configuración
        </a>
    </div>
</mat-toolbar>
